html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  color: #404040;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 800px;
}

.container--big {
  margin: 0 auto;
  width: 1015px;
}

.button {
  display: flex;
  padding: 8px 22px;
  background-color: #834700;
  color: #ffffff;
  font-style: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #834700;
}

.button--ghost {
  background-color: #ffffff;
  color: #834700;
}

.page-header {
  padding-top: 60px;
  padding-bottom: 109px;
  background-color: #5b370d;
  background-image: url("../img/header_background.jpg");
  background-position: bottom;
  background-size: cover;
  color: #ffffff;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 118px;
}

.main-nav {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 7px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav__item {
  margin-right: 55px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__link {
  color: #ffffff;
  font-style: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header__title {
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  text-align: center;
}

.new-items {
  padding-top: 60px;
  padding-bottom: 110px;
}

.new-items__main-title,
.new-item__secondary-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 90px;
}

.new-item__secondary-title {
  margin-top: 0;
  margin-bottom: 45px;
}

.new-items__wrapper {
  display: flex;
  justify-content: space-between;
}

.new-items__item {
  flex-shrink: 0;
  max-width: 50%;
  padding-left: 32px;
  padding-right: 30px;
  padding-top: 17px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.new-items__item:nth-child(odd) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.new-item__info {
  display: flex;
  justify-content: center;
  position: relative;
}

.new-item__info-wrapper {
  position: absolute;
  top: -4px;
  right: -4px;
  max-width: 150px;
}

.new-item__img {
  flex-shrink: 0;
  margin: 0;
  margin-bottom: 10px;
}

.new-item__consist,
.new-item__consist-tr,
.new-item__consist-td {
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
}

.new-item__consist {
  border-collapse: collapse;
  width: 150px;
  margin-bottom: 10px;
}

.new-item__consist-description {
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
}

.new-item__description {
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 60px;
}

.new-item__buttons-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.new-item__button {
  margin-right: 5px;
}

.new-item__button-buy {
  margin-right: 23px;
}

.about-us {
  background-color: #ffcb78;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-us__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-us__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.info {
  padding-top: 90px;
  padding-bottom: 90px;
}

.info__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.info__articles {
  margin: 0;
}

.info__article-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__article-link {
  color: #834700;
}

.info__article-bottom-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

.info__article-picture {
  flex-shrink: 0;
}

.info__article-content {
  margin: 0;
}

.info__article-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.press {
  background-color: #ede5d8;
  padding-top: 90px;
  padding-bottom: 90px;
}

.press__title,
.assortiment__title,
.order-now__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.assortiment {
  padding-top: 90px;
  padding-bottom: 90px;
}

.order-now {
  background-color: #ffcb78;
  padding-top: 90px;
  padding-bottom: 90px;
}

.page-footer {
  background-color: #000000;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 43px;
}

.page-footer__nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.page-footer__nav-link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-style: bold;
}